@font-face {
  font-family: 'MuseoSansCyrl';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/MuseoSansCyrl300.woff2') format('woff2'), url('../fonts/MuseoSansCyrl300.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/MuseoSansCyrl500.woff2') format('woff2'), url('../fonts/MuseoSansCyrl500.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/MuseoSansCyrl700.woff2') format('woff2'), url('../fonts/MuseoSansCyrl700.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/MuseoSansCyrl900.woff2') format('woff2'), url('../fonts/MuseoSansCyrl900.woff') format('woff');
  font-display: swap;
}

:root {
  --transition-duration: .4s;
  --color-white: #fff;
  --color-black: #000;
  --color-rgb88: rgb(88, 146, 166);
  --color-rgb156: rgb(156, 156, 156);
  --color-rgb94: rgb(94, 94, 94);
  --color-rgb83: rgb(83, 83, 83);
  --color-rgb255: rgb(255, 255, 255);
  --color-fountainBlue: #68b0c9;
  --color-hover: #5ea5bd;
  --color-border: rgb(232, 232, 232);
  --color-blackSqueeze: #ecf3f8;
  --color-flushMahogany: #d04545;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  /*Для .wrapper Это будет нужно для footer*/
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: 'MuseoSansCyrl', sans-serif;
  font-weight: 300;
  font-size: clamp(14px, 5vw, 18px);
  line-height: 1;
  color: var(--color-black);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

img, svg {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: var(--color-blackSqueeze); /* Цвет посещенных ссылок */
}

h1,
h2,
h3,
p,
a {
  /*перенос слов*/
  word-wrap: break-word;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: transparent;  
  border: 1px solid transparent;
  cursor: pointer;
}

.wrapper {    
  min-height: 100%;
  overflow: hidden; /* не любить sticky */
}

/* Для семантики если нет заголовка h1 в вёрстке. Ставим скрытый заголовок. */
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  /*1045px = 945px + 50px + 50px не менять*/
  max-width: 1045px;
}

.h2 {
  font-size: clamp(25px, 5vw, 36px);
  color: var(--color-rgb83);
  line-height: 1.2;
  letter-spacing: .4px;
}

.h3 {
  font-size: clamp(15px, 5vw, 20px);
  color: var(--color-fountainBlue);
  line-height: 1.2;  
}

.desc {
  font-size: clamp(13px, 5vw, 18px);
  color: var(--color-rgb83);
  line-height: 1.2;
}

/*Цвет для всех форм инпутов*/
::placeholder{
  line-height: 1.2;
  text-align: center;
  color: var(--color-rgb156);
}

.btn {
  padding: 13px 27px;
  border-radius: 20px;
  font-size: 14px;  
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;	
  color: var(--color-rgb255);
  background-color: var(--color-fountainBlue);
  box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.1);
  outline: none;
  transition: all var(--transition-duration);
  cursor: pointer;
}

.btn:focus {
  background-color: var(--color-rgb94);
}

.btn:hover {
  background-color: var(--color-hover);
}

.btn:active {
  opacity: .7;
}

.btn:not(:last-child) {
  margin-bottom: 20px;
}

/* Лого */
.logo {
  width: 114px;
  height: 75px;
  cursor: pointer;
}

/***Стилазация фразы ошибки***/
.form__label, .order__label {/*общий*/
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  top: -23px;
  left: 0;
  font-size: 13px;
}
/***Конец стилазация фразы ошибки***/

/* Форма обратной связи */
.form__input {
  margin-bottom: 15px;
  padding: 11px 20px;
  border-radius: 20px;
  border: 1px solid var(--color-border);
  width: 100%;
  font-size: 13px;
  line-height: 1.2;
  color: var(--color-black);
  outline: none;
  transition: all var(--transition-duration);
}

.form__input:focus {
  border: 1px solid var(--color-hover);
}

.form__input:hover {
  border: 1px solid #ebf2f7;
  background-color: #ebf2f7;
}

.form__input:active {
  opacity: .7;
}

/*** modal-Модальное окно 1920px***/
.modal {  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 100%;
  height: 100%;  
  background-color: rgba(51, 51, 51, 0.3);
}

.modal-sps {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 505px;
  padding: 90px 60px 60px;
  border-radius: 10px;
  min-width: 260px;
  opacity: 0;  
  -webkit-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;  
  overflow: hidden; 
  background-color: var(--color-blackSqueeze);
}

/*Крест выключатель модального окна*/
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid transparent;
  font-size: clamp(16px, 3vw, 24px);
  color: var(--color-rgb94);
  background-color: transparent;
  -webkit-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -o-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  transition: color .4s ease-in-out, background-color .4s ease-in-out;
  cursor: pointer;
  outline: none;   
}

.modal-close:focus {  
  border: 1px solid var(--color-rgb94);
}

.modal-close:hover {
  color: var(--color-white);
  background-color: var(--color-rgb94);
}

.modal-close:active {
  opacity: .7;
}

.modal-desc {
  font-size: clamp(16px, 5vw, 24px);
  font-weight: 700;
}
/* // Крест выключатель модального окна 1920px*/

/*** modal-Модальное окно 1920px***/
.hero__modal, .contact__modal {
  position: fixed;
  overflow: auto;
  text-align: center;
  width: 100%;
}

.hero__modal_js, .contact__modal_js {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;/*Для js перекрыть .modal*/
}

.hero__modal_js_active, .contact__modal_js_active {
  visibility: visible;
  opacity: 1;
}

.hero__modal-sps_js, .contact__modal-sps_js {
  display: none;
  opacity: 0;
}

.hero__modal-sps_js_active, .contact__modal-sps_js_active {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*** // modal-Модальное окно 1920px ***/

/* Подзаголовок */
.subtitle {
  text-align: center;
}

/* Стрелки */
.arrow {
  position: absolute;  
  width: 199px;
  height: 52px;
}

.arrow_right {
  background: url("../img/frameless-img/arrow-right.png") 0 0 no-repeat;
}

.arrow_left { 
  background: url("../img/frameless-img/arrow-left.png") 0 0 no-repeat;
}

.arrow_scale {
  background: url("../img/arrow-scale.png") center / cover no-repeat;
}

/* Цена */
.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--color-border);
  width: 155px;
  height: max-content;
  background-color: #fff;
}

.price__h3 {
  font-size: clamp(13px, 5vw, 17px);
  color: var(--color-fountainBlue);
}

.price__itWas {
  margin: 0 0 8px;
  font-size: clamp(14px, 5vw, 18px);
  text-decoration: line-through;
}

.price__line {
  margin-bottom: 6px;
  border-bottom: 1px solid var(--color-rgb83);
  width: 113%;
  height: 1px;
}

.price__hasBecome {
  margin: 0;
  font-size: clamp(19px, 5vw, 30px);
  font-weight: 700;
  color: red;
}

/*---Яндекс карта map---*/
#map {
  margin: 0;
  padding: 0;
}

/*[class*="ground-pane"] {
  filter: grayscale(1)черно-белое
}*/

.ymaps-2-1-79-map, .ymaps-2-1-79-inner-panes {
  border-radius: 20px;
}

.ymaps-2-1-79-map ymaps {
  /* border-radius: 15px; */
  font-family: 'MuseoSansCyrl', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: var(--color-fountainBlue);
}

/* Скрыла рекламу такси и всякий мусор */
.ymaps-2-1-79-copyrights-pane {
  display: none;
}
/*--- // Яндекс карта map---*/


/* Шапка 1920px*/
.header {
  padding: 13px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit--gap: 20px;
  -moz--gap: 20px;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  border: 1px solid transparent;
  outline: none;
  transition: all var(--transition-duration);
}

.header__logo:focus {
  border: 1px solid var(--color-fountainBlue);
}

.header__logo:hover {
  opacity: .7;
}

.header__logo:active {
  opacity: .5;
}

.header__contact {
  padding: 4px 7px 0 0;
}

.header__desc {
  margin: 0;
  font-size: 24px;
  font-family: "MuseoSansCyrl";
  color: var(--color-rgb94);
  line-height: 1.5;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: var(--color-fountainBlue);
  text-decoration: underline;
  text-decoration-color: var(--color-fountainBlue);
  outline: none;
  transition: all var(--transition-duration);
  cursor: pointer;
}

.header__link:focus {
  color: var(--color-rgb94);
  text-decoration-color: var(--color-rgb94);
}

.header__link:hover {
  color: var(--color-hover);
  text-decoration-color: var(--color-hover);
}

.header__link:active {
  opacity: .7;
}

/* Hero 1920px*/
.hero {
  padding: 34px 0 62px;
  min-height: 484px;
  background: url("../img/hero.jpg") center / cover no-repeat;
  background-color: var(--color-blackSqueeze);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

.hero__right {
  flex-basis: 600px;
  text-align: right;
}

.hero__h2 {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: clamp(25px, 5vw, 41px);
  letter-spacing: .5px;
}

.hero__span {
  display: block;
  margin: 13px 0 64px;
  font-size: clamp(22px, 5vw, 27px);
  color: var(--color-fountainBlue);
  line-height: 1.2; 
  letter-spacing: 0.1px;
}

.hero__block {
  margin-left: auto;
  padding: 17px 17px 36px;
  border-radius: 20px;
  width: 303px;
  text-align: center;
  background-color: var(--color-rgb255);
  box-shadow: 0px 0px 38px 0px rgba(104, 176, 201, 0.34);
}

.hero__h3 {
  margin-bottom: 9px;
  margin-left: -11px;
  letter-spacing: .27px;
}

.hero__desc {
  margin: 0 0 18px -11px;
  font-size: 11px;
  color: var(--color-rgb83);
  line-height: 1.568; 
  letter-spacing: .4px;
}

.hero__form .form__input, .hero__form .form__btn {
  width: 82%;
}

/* Бескаркасные кресла frameless - 1920px*/
.frameless {
  padding: 42px 0 97px;
}

.frameless__h2 {
  margin-bottom: 130px;
  margin-left: -13px;
}

.frameless__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit--gap: 20px;
  -moz--gap: 20px;
  gap: 20px;
  padding: 0 83px;
}

.frameless__block:not(:last-child) {
  margin-bottom: 106px;
}

.frameless__text {
  flex-basis: 400px;
  width: 400px;
}

.frameless__block:nth-child(odd) .frameless__text {
  text-align: left;
}

.frameless__arrow {
  top: -51px;
  transform: translateX(-50%);
  z-index: 1;
}

.frameless__arrow_right {
  left: 51%;  
}

.frameless__arrow_left {
  left: 45%;
}

.frameless__h3 {
  margin-left: -2px;
  font-size: clamp(18px, 5vw, 29px);
  letter-spacing: .8px;
}

/* Скидка discount - 1920px */
.discount {  
  padding: 34px 0 49px;
  min-height: 484px;
  background: url("../img/discount.jpg") center / cover no-repeat;
  background-color: var(--color-blackSqueeze);
}

.discount__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  -webkit--gap: 70px;
  -moz--gap: 70px;
  gap: 70px;
}

.discount__position {
  position: relative;
  width: 162px;
}

.discount__position_none1920 {
  display: none;
}

.discount__price.price {
  position: absolute;
  bottom: 100px;
  padding: 40px 14px 37px 19px
}

.discount__arrow-scale {
  right: -95px;
  bottom: 25px;
  width: 154px;
  height: 62px;
}

.discount__right {
  flex-basis: 382px;
  text-align: center;
}

.discount__h3 {
  margin: 25px 0 9px;
  font-weight: 700;
  font-size: clamp(39px, 5vw, 55px);
  letter-spacing: inherit;
  text-transform: uppercase;
}

.discount__desc {
  margin: -7px 0 47px;
  font-weight: 900;
  font-size: clamp(13px, 5vw, 26px);
  text-transform: uppercase;
}

.discount__gift {
  display: block;
  margin-top: 6px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: .2px;
  color: var(--color-fountainBlue);
  text-transform: initial;
}

.discount__gift::before {
  content: "";
  display: inline-block;
  margin: 3px 11px 0 -33px;
  width: 22px;
  height: 21px;
  background: url("../img/gift.png") center / cover no-repeat;
}

.discount__block {
  margin: 0 auto;
  padding: 22px 27px 31px;
  border-radius: 22px;
  border: 5px solid var(--color-rgb255);
  width: 275px;
  text-align: center;
  background-color: transparent;
}

.discount__text {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: 68px 58px 58px;
  -o-grid-template-columns: 68px 58px 58px;
  -moz-grid-template-columns: 68px 58px 58px;
  -ms-grid-template-columns: 68px 58px 58px;
  grid-template-columns: 68px 58px 58px;
  -webkit--gap: 11px;
  -moz--gap: 11px;
  gap: 11px;
  margin-bottom: 25px;
  text-align: start;
}

.discount__description {
  font-size: 14px;
  color: red;
}

.discount__stock-png {
  margin-top: 10px;
  width: 48px;
  height: 43px;
  background: url("../img/stock.png") center / cover no-repeat;
}

.discount__link {
  display: block;
  padding: 15px 27px 16px;
  width: 96%;
  font-size: 16px;  
}

/* Выполнение accomplishment - 1920px */
.accomplishment {
  padding: 62px 0 51px;
}

.accomplishment__list {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: repeat(4, 24%);
  -o-grid-template-columns: repeat(4, 24%);
  -moz-grid-template-columns: repeat(4, 24%);
  -ms-grid-template-columns: repeat(4, 24%);
  grid-template-columns: repeat(4, 24%);
  -webkit-gap: 13px;
  -moz-gap: 13px;
  gap: 13px;
  padding: 0;
}

.accomplishment__item {
  height: max-content;
}

.accomplishment__png {
  margin-bottom: 16px;
  padding: 9px 5px;
  height: 100%;
  background: url("../img/accomplishment-png/1.png") top / cover no-repeat;
  background-size: 79px 96px;
  text-align: center; 
}

.accomplishment__h3 {
  margin: 10px 0 0;
  font-size: clamp(37px, 5vw, 48px);
  line-height: 1.5;
}

.accomplishment__desc {
  margin-top: 0;
  text-align: center;
}

/* Сертификат certificate - 1920px */
.certificate {
  padding: 51px 0 101px;
}

.certificate__h2 {
  margin-bottom: 79px;
}

.certificate__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit--gap: 20px;
  -moz--gap: 20px;
  gap: 20px;
  padding: 0 63px 0 95px
}

.certificate__img {
  flex-basis: 244px;
  height: 324px;
}

.certificate__info {
  width: 400px;
}

.certificate__text {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: 46px 1fr;
  -o-grid-template-columns: 46px 1fr;
  -moz-grid-template-columns: 46px 1fr;
  -ms-grid-template-columns: 46px 1fr;
  grid-template-columns: 46px 1fr;
  -webkit--gap: 20px;
  -moz--gap: 20px;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 45px;
}

.certificate__sign-img {
  width: 46px;
  height: 41px;
  background: url("../img/sign.png") center / cover no-repeat;
}

.certificate__h3 {
  margin: 0;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.certificate__desc {
  letter-spacing: .36px;
}

.certificate__desc:not(:last-child) {
  margin-bottom: 23px;
}

/* Информация information - 1920px */
.information {
  padding: 101px 0 63px;
}

.information__block {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
  "text1 img1 text2" 
  "text3 img1 text4";
  -webkit-grid-template-columns: 240px 181px 240px;
  -o-grid-template-columns: 240px 181px 240px;
  -moz-grid-template-columns: 240px 181px 240px;
  -ms-grid-template-columns: 240px 181px 240px;
  grid-template-columns: 240px 181px 240px;
  -webkit--gap: 75px 79px;
  -moz--gap: 75px 79px;
  gap: 75px 79px;
  justify-content: center;
}

.information__text {
  position: relative;
}

.information__text:nth-child(even) {
  text-align: end;
}

.information__text::before {
  content: "";
  position: absolute;
  z-index: 1;
}

.information__text.text1::before {
  top: 11px;
  right: -133px;
  width: 121px;
  height: 107px;
  background: url("../img/information-img/circleArrow.png") center / cover no-repeat;
}

.information__text.text2::before {
  top: -47px;
  left: -127px;
  width: 116px;
  height: 104px;
  background: url("../img/information-img/circleArrow.png") center / cover no-repeat;
  transform: rotate(116deg);
}

.information__text.text3::before {
  top: -43px;
  right: -102px;
  width: 104px;
  height: 92px;
  background: url("../img/information-img/circleArrow.png") center / cover no-repeat;
  transform: rotate(148deg);
}

.information__text.text4::before {
  top: -23px;
  left: -133px;
  width: 111px;
  height: 99px;
  background: url("../img/information-img/circleArrow.png") center / cover no-repeat;
  transform: rotate(307deg);
}

.information__h3 {
  margin: 0 0 17px;
}

.information__desc {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.3;
}

.information__img {
  grid-area: img1;
  margin: 4px 0 0 -2px;
  width: 100%;
  height: 333px;
  background: url("../img/information-img/1.png") center / cover no-repeat;
}

/* Оставить заявку contact - 1920px */
.contact {
  padding: 54px 0 62px;
  min-height: 348px;
  background: url("../img/contact.jpg") center / cover no-repeat;
  background-color: var(--color-blackSqueeze);
}

.contact__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: 1fr 360px;
  -o-grid-template-columns: 1fr 360px;
  -moz-grid-template-columns: 1fr 360px;
  -ms-grid-template-columns: 1fr 360px;
  grid-template-columns: 1fr 360px;
  -webkit--gap: 70px 200px;
  -moz--gap: 70px 200px;
  gap: 70px 200px;
  align-items: center;
}

.contact__price.price {
  position: relative;
  top: -9px;
  right: -3px;
  margin-left: auto;
  padding: 20px 22px 26px;
  width: 164px;
}

.contact__price .price__itWas {
  font-size: 15px;
}

.contact__price .price__h3 {
  margin-bottom: 19px;
}

.contact__price .price__line {
  margin-bottom: 0;
  width: 107%;
}

.contact__price .price__hasBecome {
  font-size: clamp(15px, 5vw, 26px);
}

.contact__right {
  margin-right: 105px;
  text-align: center;
}

.contact__right span {
  display: block;
  margin: 11px auto 27px;
  padding: 1px 0 2px;
  width: 230px;
  background-color: var(--color-white);
}

.contact__h3 {
  margin: 0 auto 31px;
  font-size: clamp(15px, 5vw, 20px);
}

.contact__form .form__block {
  margin-bottom: 10px;
}

.contact__form .form__btn {
  width: 100%;
}

.contact__arrow {
  position: absolute;
  right: 68px;
  bottom: 55px;
  width: 65px;
  height: 105px;
  background: url("../img/arrow-arc.png") center / cover no-repeat;
  z-index: 1;
}

/* Сравнение difference - 1920px */
.difference {
  padding: 37px 0 64px;
}

.difference__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.difference__left {
  position: relative;
  text-align: end;
  color: var(--color-rgb83);
}

.difference__left .difference__h3 {
  right: -228px;
}

.difference__img {
  margin: 0 150px 0 167px;
  padding-top: 109px;
}

.difference__img img {
  height: 100%;
}

.difference__right {  
  position: relative;
  color: var(--color-fountainBlue);
}

.difference__right .difference__h3 {
  left: -228px;
}

.difference__right .difference__desc {
  color: var(--color-fountainBlue);
}

.difference__h3 {
  position: absolute;
  width: 151px;
  font-size: clamp(16px, 5vw, 22px);
  line-height: 1.2;
}

.difference__padding {
  padding-top: 102px;
  width: 215px;
}

.difference__desc {
  position: relative;
  font-size: 15px;
  letter-spacing: .6px;
}

.difference__desc:not(:last-child) {
  margin-bottom: 25px;
}

.difference__desc::before {
  content: "";
  position: absolute;
  right: -106px;
  width: 81px;
  height: 41px;
  background: url("../img/difference-png/straightArrow.png") center / cover no-repeat;
  z-index: 1;
}

.difference__desc:nth-child(1)::before {
  top: 7px;
  right: -109px;
  transform: rotate(0deg);
}

.difference__desc:nth-child(2)::before {
  top: 0;
  transform: rotate(350deg);
}

.difference__desc:nth-child(3)::before {
  top: -21px;
  transform: rotate(324deg);
}

.difference__desc:nth-child(4)::before {
  top: -30px;
  transform: rotate(316deg);
}

.difference__right .difference__padding {
  width: 226px;
}

.difference__right .difference__desc::before {
  left: -106px;
  background: url("../img/difference-png/straightArrowBlue.png") center / cover no-repeat;
}

.difference__right .difference__desc:nth-child(1)::before {
  top: 8px;
  left: -102px;
  transform: rotate(0deg);
}

.difference__right .difference__desc:nth-child(2)::before {
  top: 1px;
  left: -99px;
  transform: rotate(10deg);
}

.difference__right .difference__desc:nth-child(3)::before {
  top: -20px;
  left: -98px;
  transform: rotate(36deg);
}

.difference__right .difference__desc:nth-child(4)::before {
  top: -29px;
  left: -102px;
  transform: rotate(45deg);
}

/* Карта и адрес address - 1920px */
.address {
  padding: 50px 0;
  background-color: var(--color-blackSqueeze);
}

.address__block {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: 460px 260px;
  -o-grid-template-columns: 460px 260px;
  -moz-grid-template-columns: 460px 260px;
  -ms-grid-template-columns: 460px 260px;
  grid-template-columns: 460px 260px;
  -webkit-gap: 25px 122px;
  -moz-gap: 25px 122px;
  gap: 25px 122px;
  align-items: center;
}

.address__map {
  border-radius: 20px;
  width: 100%;
  height: 319px;
  background: url("../img/address-png/map.jpg") center / cover no-repeat;
}

.address__info {
  margin: 0 auto;
  text-align: center;
}

.address__png {
  margin: 0 auto;
  width: 24px;
  height: 32px;
  background: url("../img/address-png/icone-2.png") center / cover no-repeat;
}

.address__desc {
  margin-bottom: 14px;
  font-size: clamp(12px, 5vw, 16px);
}

.address__address {
  margin-bottom: 52px;
  font-size: 20px;
  font-style: normal; 
  line-height: 1.2;
  color: var(--color-fountainBlue);
}

.address__link {
  display: block;
  width: 100%;
}

/* Подвал footer - 1920px */
.footer {
  padding: 17px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  border: 1px solid transparent;
  outline: none;
  transition: all var(--transition-duration);
}

.footer__logo:focus {
  border: 1px solid var(--color-fountainBlue);
}

.footer__logo:hover {
  opacity: .7;
}

.footer__logo:active {
  opacity: .5;
}

.footer__conditionality {
  display: inline-block;
  font-size: 14px;
  color: var(--color-fountainBlue);
  text-decoration-line: underline;
  transition: all var(--transition-duration);
}

.footer__conditionality:focus {
  outline: none;
  color: var(--color-rgb94);
}

.footer__conditionality:hover {
  color: var(--color-hover);
  text-decoration-line: none;
}

.footer__conditionality:active {
  opacity: .7;
}

.footer__inn {
  font-size: 14px;
  line-height: 1.2;
  text-align: end;
  color: rgb(80, 80, 80);
}

@media (max-width: 1222px) {
  .hero {
    background: url("../img/hero-mobile.jpg") left / cover no-repeat;
  } 

  .accomplishment {
    padding-bottom: 40px;
  }
  
  .certificate {
    padding: 40px 0 50px;
  }

  /* Информация information - 1222px */
  .information {
    padding: 50px 0;
  }

  .information__img {
    margin: 0;
  }  

  /* Сравнение difference - 1222px */
  .difference__img {
    margin: 0 auto;
  }
}

@media (max-width: 999px) {
  /* Hero 999px*/
  .hero {
    background-position: 9% 0;
  }

  .hero__h2 {
    text-shadow: 3px 0 #fff;
  }

  .hero__span {
    text-shadow: 1.5px 0 #fff;
  }

  /* Бескаркасные кресла frameless - 999px*/
  .frameless__h2 {
    margin-bottom: 100px;
  }

  .frameless__block {
    padding: 0;
  }

  .frameless__h3 {
    margin-left: 0;
  }  

  /* Скидка discount - 999px */
  .discount {
    background: url("../img/discount-mobile.jpg") left / cover no-repeat;
  }

  /* Выполнение accomplishment - 999px */
  .accomplishment__png {
    background-size: 79px 100%;
  }

  /* Сертификат certificate - 999px */
  .certificate__block {
    display: block;
    padding: 0;
  }
  
  .certificate__img {
    margin-bottom: 40px;
  }

  .certificate__img img {
    margin: 0 auto;
  }
  
  .certificate__info {
    width: 100%;
  }

  /* Информация information - 999px */
  .information__block {
    -webkit-grid-template-columns: 1fr 181px 1fr;
    -o-grid-template-columns: 1fr 181px 1fr;
    -moz-grid-template-columns: 1fr 181px 1fr;
    -ms-grid-template-columns: 1fr 181px 1fr;
    grid-template-columns: 1fr 181px 1fr;
    -webkit--gap: 50px;
    -moz--gap: 50px;
    gap: 50px;
  }

  /* Оставить заявку contact - 999px */
  .contact {
    background-position: 38%;
  }

  .contact__container {
    position: relative;
    display: -ms-grid;
    display: grid;
    -webkit-grid-template-columns: 1fr 255px 65px;
    -o-grid-template-columns: 1fr 255px 65px;
    -moz-grid-template-columns: 1fr 255px 65px;
    -ms-grid-template-columns: 1fr 255px 65px;
    grid-template-columns: 1fr 255px 65px;
    -webkit--gap: 10px;
    -moz--gap: 10px;
    gap: 10px;
    justify-content: center;
  }

  .contact__price.price {
    top: 0;
    right: 0;
    margin: 0 17% 0 auto;
  }
  
  .contact__right {
    margin-right: 0;
  } 

  .contact__arrow {
    position: relative;
    right: 0;
    bottom: 0;
  }  

  /* Сравнение difference - 999px */
  .difference__left .difference__h3 {
    right: -47%;
  }

  .difference__right .difference__h3 {
    left: -47%;
  }

  .difference__desc::before {
    display: none;
  } 

  /* Карта и адрес address - 999px */
  .address__block {
    -webkit-grid-template-columns: 1fr 260px;
    -o-grid-template-columns: 1fr 260px;
    -moz-grid-template-columns: 1fr 260px;
    -ms-grid-template-columns: 1fr 260px;
    grid-template-columns: 1fr 260px;
    -webkit-gap: 25px 50px;
    -moz-gap: 25px 50px;
    gap: 25px 50px;
  }
}  

@media (max-width: 767px) {
  .subtitle {
    text-align: start;
  }  

  .price__line {
    width: 100%;
  }

  #map {
    margin-bottom: 25px;
  } 


  .hero {
    background-position: 15% 0;
  }

  /* Бескаркасные кресла frameless - 767px*/
  .frameless {
    padding: 40px 0 70px;
  }

  .frameless__h2 {
    margin-bottom: 70px;
    margin-left: 0;
  }

  .frameless__block {
    display: block;
  }

  .frameless__block:not(:last-child) {
    margin-bottom: 56px;
  }

  .frameless__text {
    width: 100%;
  }

  .frameless__desc {
    margin-bottom: 5px;
  }

  .frameless__arrow {
    position: relative;
    top: 100px;
  }

  .frameless__arrow_right {
    transform: rotate(111deg);
  }  

  .frameless__arrow_left {
    top: -70px;
    left: 51%;
    transform: rotate(65deg);
  }

  .frameless__foto {
    width: 70%;
  }

  /* Скидка discount - 767px */
  .discount {
    background-position: 11%;
  }

  .discount__right {
    flex-basis: 100%;
    text-shadow: 3px 0 #fff;
  }

  .discount__gift {
    text-shadow: 2px 0 #fff;
  }

  .discount__position_none767 {
    display: none;
  }

  .discount__position_none1920 {
    display: block;
    margin-bottom: 60px;
    width: 100%;
  }

  .discount__price.price {
    position: relative;
    padding: 30px 16px;
    width: max-content;
    bottom: inherit;
    margin: 0 auto;
  }

  .discount__arrow-scale {
    display: none;
  }

  .discount__description {
    text-shadow: 1px 0 #fff;
  }

  /* Выполнение accomplishment - 767px */
  .accomplishment {
    padding: 40px 0 20px;
  }

  .accomplishment__list {
    -webkit-grid-template-columns: repeat(2, 49%);
    -o-grid-template-columns: repeat(2, 49%);
    -moz-grid-template-columns: repeat(2, 49%);
    -ms-grid-template-columns: repeat(2, 49%);
    grid-template-columns: repeat(2, 49%);
  }

  /* Сертификат certificate - 767px */
  .certificate {
    padding: 20px 0;
  }

  .certificate__h2 {
    margin-bottom: 50px;
  }

  /* Информация information - 767px */
  .information {
    padding: 30px 0;
  }

  .information__block {
    grid-template-areas:
      "text1 img1"
      "text2 img1"
      "text3 img1"
      "text4 img1";
    -webkit-grid-template-columns: 1fr 232px;
    -o-grid-template-columns: 1fr 232px;
    -moz-grid-template-columns: 1fr 232px;
    -ms-grid-template-columns: 1fr 232px;
    grid-template-columns: 1fr 232px;  
    -webkit--gap: 25px;
    -moz--gap: 25px;
    gap: 25px;
  }

  .information__img {
    height: 100%;
  } 
  
  .information__text:nth-child(even) {
    text-align: start;
  }

  .information__text:nth-child(odd)::before {
    left: inherit;
    right: -57px;
  }

  .information__text.text1 {
    order: 2;
  }

  .information__text.text2 {
    order: 1;
  }

  .information__text.text3 {
    order: 3;
  }

  .information__text.text4 {
    order: 4;
  }

  .information__text.text1::before {
    top: -47px;
    right: -55px;
    transform: rotate(142deg);
  }
  
  .information__text.text2::before {
    top: -27px;
    right: -50px;
    transform: rotate(145deg);
  }

  .information__text.text3::before {
    right: -61px;
  }

  .information__text.text4::before {
    top: -43px;
    transform: rotate(141deg);
  }

  /* Оставить заявку contact - 767px */
  .contact {
    background: url("../img/contact-tablet.jpg") 24% 0% / cover no-repeat;
  }

  .contact__price.price {
    margin: -37px 0 0 auto;
    padding: 20px 23px;
    width: max-content;
  }

  .contact__right {
    text-shadow: 2px 0 #fff;
  }

  /* Сравнение difference - 767px */
  .difference__h3 {
    position: relative;
  }

  .difference__left {
    margin-right: 50px;
  }

  .difference__left .difference__h3 {
    right: 0;
    margin-left: auto;
  }

  .difference__padding {
    padding-top: 0;
  }

  .difference__img {
    display: none;
  } 

  .difference__right .difference__h3 {
    left: 0;
  }

  /* Карта и адрес address - 767px */
  .address__block {
    display: block;
  } 

  .address__address {
    margin-bottom: 32px;
  }  

  .address__link {
    width: 250px;
    margin: 0 auto;
  }
}

@media (max-width: 626px) {
  .information__block {
    display: block;
  }

  .information__text::before, .information__img {
    display: none;
  }

  /* Оставить заявку contact - 626px */
  .contact {
    background: url("../img/contact-mobile.jpg") 30% 0% / cover no-repeat;
  }

  .contact__container {
    display: block;
  }

  .contact__arrow {
    display: none;
  }

  /* Сравнение difference - 626px */
  .difference__block {
    display: block;
  }

  .difference__h3 {
    width: 100%;
  }

  .difference__left {
    margin-right: 0;
    text-align: inherit;
  } 
  
  .difference__padding, .difference__right .difference__padding {
    width: 100%;
  }

  .difference__desc:not(:last-child) {
    margin-bottom: 15px;
  }

  /* Подвал footer - 626px */
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  
  .footer__logo, .footer__conditionality {
    margin-bottom: 15px;
  }

  .footer__inn {
    text-align: start;
  }

  .footer__inn br {
    display: none;
  }
}

@media (max-width: 444px) {
  .container {
    padding: 0 23px;
  }

  .logo {
    width: 77px;
    height: 37px;
  }

  /* Шапка 444px*/
  .header__link {
    justify-content: left;
  }  

  /* Hero 444px*/
  .hero, .discount, .contact {
    background: var(--color-blackSqueeze);
  }

  .hero__right {
    width: 100%;
    text-align: start;
  }  

  .hero__block {
    margin: 0 auto;
    width: 100%;
  }  

  .hero__form .form__input, .hero__form .form__btn {
    width: 100%;
  }  

  /* Бескаркасные кресла frameless - 444px*/
  .frameless__arrow {
    top: 75px;
  }

  .frameless__arrow_left {
    top: -70px;
  }  

  /* Скидка discount - 444px */
  .discount__price.price {
    padding: 25px 16px;
  }

  .discount__right {
    text-shadow: none;
  }

  /* Оставить заявку contact - 444px */
  .contact {
    background: var(--color-blackSqueeze);
  }

  .contact__price.price {
    margin: 0 auto 25px;
  }

  /* Карта и адрес address - 444px */
  .address__link {
    width: 100%;
  }
}








